.realBody{
    border-radius: 6.6px;
    display: flex;
    flex-direction: column;
}

.protagonist{
    background-color: rgba(200, 200, 200, 0.1);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}
.tree{
    display: center;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 50px;
}
.invisibleText, label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:xx-large;
}
.invisibleText{
    background-color: rgba(0, 0, 0, 0.075);
    outline: none;
    border: none;
    width: 99%;
    color: white;
    text-shadow: 0px 2px 3.75px black;
}
.invertText{
    color: white;
    text-shadow: 0px 2px 3.75px black;
}
.txtDesign{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: medium;
}

.bookingTitle{
    height: 100%; 
    width: 100%; 
    background-color: transparent;
    border: none;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    text-align: center;
    
}
.bookingTitle:not(.bookingTitle:placeholder-shown){
    color: white;
    text-shadow: 0px 2px 3.75px black;
}
.blockLine{
    width: 100%;
    height: 2.5px;
    background-color: rgba(128, 128, 128, 0.5);
}

.salvar, .copiar, .delete{
    transition: linear 0.5s all;
    border-radius: 25px;
    width: 29.5%;
    height: 100%;
    margin-left: 2.5%;
    border-color: transparent;
    font-weight: bold;
    font-size: large;
    color: white;
    text-shadow: 1.25px 1.25px 0.5px darkslategrey;
}

.salvar{
    background-color: lime;
}
.copiar{
    background-color: orange;
}
.delete{
    background-color: red;
}

div[custom='copied']{
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    border-radius: 2.5px;
    border: solid rgba(0, 0, 0, 0.25) 0.5px;
}

.tinyText{
    font-size: medium;
}

.salvar:hover{
    box-shadow: 0px 0px 15.5px 5px rgba(100, 255, 100, 0.75);
    transform: scale(115%,115%);
}
.copiar:hover{
    box-shadow: 0px 0px 15.5px 5px rgba(255, 200, 100, 0.75);
    transform: scale(115%,115%);
}
.delete:hover{
    box-shadow: 0px 0px 15.5px 5px rgba(255, 100, 100, 0.75);
    transform: scale(115%,115%);
}
